:root {
    --New-Swatch: #040534;
    --New-Swatch: #130648;
    --New-Swatch: #320866;
    --New-Swatch: #45147E;
    --New-Swatch: #6B2D99;
    --New-Swatch: #873EB5;
    --New-Swatch: #AB58D8;
  }

/* :paleta1 {
    --paleta: 0581cc
--paleta: 2999d9
--paleta: 4eb2e6
--paleta: 72caf2
--paleta: 96e2ff
}

.color1 { #0581cc };
.color2 { #2999d9 };
.color3 { #4eb2e6 };
.color4 { #72caf2 };
.color5 { #96e2ff };


/* PALETA 3 */
.color1 { #1185d6 };
.color2 { #349de0 };
.color3 { #56b6eb };
.color4 { #79cef5 };
.color5 { #9be6ff };


{
    "0": "#f2f9ff",
    "5": "#d6ecfe",
    "10": "#bbdefd",
    "20": "#86c1fa",
    "30": "#57a2f5",
    "40": "#3081ed",
    "50": "#135ee4",
    "60": "#003ad7",
    "70": "#0020c7",
    "80": "#0007b3",
    "90": "#0d009e",
    "100": "#1b0087"
} */