* {
    Margin:0;
    padding:0;
 }

 header > img {
    height: 5rem;
    width: auto;
    display: flex;
    text-align: left;
 }

 header {

    background-color: rgb(0, 0, 0, 15);
 }
 
 nav > a {
    text-decoration: none;
    margin: 1%;
    color: white;
    font-family: 'Poppins', sans-serif;
 }

 h1 {
    color: darkblue;
    text-align: center;
    font-family: 'Philosopher', sans-serif;
 }

 h2 {
   font-family: 'Dancing Script', cursive;
   text-align: left;
   margin: 2% 2% 0% 5%;
 }

 table {
   margin: 5%;
 }

 th {
   font-family: 'Poppins', sans-serif;
 }